{% extends 'layouts/layout.html' %}

{% block content %}
    <h1 class="mt-5 mx-4"> home page</h1>

    {% for post, user in posts_and_users %}
        <div class="row m-2">
            <div class="col m-2">
                <div class="card w-75">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-body">
                        <small class="text-muted">{{ user.display_name }} (@{{ user.username }})</small>
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>
                        <a href="{{ url_for('posts', post_id=post.post_id) }}" class="btn btn-primary">View Comments</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}