{% extends 'layouts/layout.html' %}

{% block content %}
    {% if user %}
        <div class="row m-2">
            <div class="col m-2">
                <div class="card w-75">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <small class="text-muted">{{ user.display_name }} (@{{ user.username }})</small>
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.content }}</p>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCommentModal">Comment</a>
                            </div>

                            {% if post.user_id == current_user.user_id %}
                                <div class="col-2">
                                    <a class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#deletePostModal" style="float: right;">Delete</a>
                                </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col">
                                <!-- Comments div -->
                                <div class="jumbotron bg-light rounded-3 mt-3">
                                    {% if comments != None %}
                                        {% for comment in comments %}
                                            <div class="card-body">
                                                <small class="text-muted">{{ comment.display_name }} (@{{ comment.username }})</small>
                                                <p class="card-text">{{ comment.content }}</p>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Add comments form in a modal-->
        <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCommentModalLabel">Add Comment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="addCommentModal" aria-label="Close"></button>
                    </div>
    
                    <div class="modal-body">
                        <form method="POST" action="/posts/{{ post.post_id }}">
                            {{ addCommentForm.hidden_tag() }}
    
                            <div class="form-group mb-3">
                                {{ addCommentForm.content.label(class="form-text") }}
                                {{ addCommentForm.content(class="form-control form-control mt-1") }}
                            </div>
    
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                {{ addCommentForm.submit(class="btn btn-primary m-2") }}
                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>


        <!-- Delete post modal -->
        <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletePostModalLabel">Delete Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="deletePostModal" aria-label="Close"></button>
                    </div>
    
                    <div class="modal-body">
                        <form method="POST" action="/posts/{{ post.post_id }}">
                            {{ deletePostForm.hidden_tag() }}
    
                            <div class="form-group mb-3">
                                <h6>Are you sure to want to delete the post titled as "{{ post.title }}"</h6>
                            </div>
    
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                {{ deletePostForm.submit(class="btn btn-danger m-2") }}
                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    
    {% else %}
        <h4>Post does not exist</h4>
    {% endif %}
{% endblock %}