{% extends 'layouts/layout.html' %}

{% block content %}

    <fieldset class="register-form mx-4 pt-3 w-50">
        <form method="POST" action="/login">
            {{ form.hidden_tag() }}
            <legend class="fs-5 border px-4 py-4">
                <small>
                    <ul>
                        {{ form.email.label(class="form-text") }}
                        {{ form.email(class="form-control form-control mt-1") }}
                    </ul>
                    
                    <ul>
                        {{ form.password.label(class="form-text") }}
                        {{ form.password(class="form-control form-control mt-1") }}
                    </ul>
                    
                    <div class="mx-4">
                        <small class="text-muted mx-2">Don't have an account yet? <a href="{{ url_for('register') }}">Register</a> </small>
                    </div>
                    
                    <div class="mx-4">
                        {{ form.submit(class="btn btn-outline-info m-2 bg-white") }}
                    </div>
                </small>
            </legend>
        </form>
    </fieldset>

{% endblock %}
