{% extends 'layouts/layout.html' %}

{% block content %}

    <fieldset class="register-form mx-4 pt-3 w-50">
        <form method="POST" action="/create_post">
            {{ form.hidden_tag() }}
            <legend class="fs-5 border px-4 py-4">
                <small>
                    <ul>
                        {{ form.title.label(class="form-text") }}
                        {{ form.title(class="form-control form-control mt-1") }}
                    </ul>

                    <ul>
                        {{ form.content.label(class="form-text") }}
                        {{ form.content(class="form-control form-control mt-1") }}
                    </ul>
                    
                    <div class="mx-4">
                        {{ form.submit(class="btn btn-outline-info m-2 bg-white") }}
                    </div>
                </small>
            </legend>
        </form>
    </fieldset>

{% endblock %}
