{% extends 'layouts/layout.html' %}

{% block content %}

    <div class="row m-0">
        <div class="col-8 px-3">
            <div class="m-3">
                <button type="button" class="btn btn-sm btn-primary d-inline mx-2" data-bs-toggle="modal" data-bs-target="#changeDisplayNameModal">Change Display</button>
                
            </div>
            <hr class="w-50 mx-4">

            <div class="m-3">
                <button type="button" class="btn btn-sm btn-primary d-inline mx-2" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Change Password</button>
            </div>
        </div>

        <div class="col-4">
            <h5>w</h5>
        </div>
    </div>

    <!-- Modals containing forms for updating the actual display or password -->
    <div class="modal fade" id="changeDisplayNameModal" tabindex="-1" role="dialog" aria-labelledby="changeDisplayNameModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeDisplayNameModalLabel">Change Display</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="POST" action="/settings">
                        {{ changeDisplayNameForm.hidden_tag() }}

                        <div class="form-group">
                            {{ changeDisplayNameForm.new_display_name.label(class="form-text") }}
                            {{ changeDisplayNameForm.new_display_name(class="form-control form-control mt-1") }}
                        </div>

                        <div class="form-group mb-3">
                            {{ changeDisplayNameForm.password.label(class="form-text") }}
                            {{ changeDisplayNameForm.password(class="form-control form-control mt-1") }}
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            {{ changeDisplayNameForm.submit(class="btn btn-primary m-2") }}
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>




    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="POST" action="/settings">
                        {{ changePasswordForm.hidden_tag() }}

                        <div class="form-group">
                            {{ changePasswordForm.password.label(class="form-text") }}
                            {{ changePasswordForm.password(class="form-control form-control mt-1") }}
                        </div>

                        <div class="form-group mb-3">
                            {{ changePasswordForm.new_password.label(class="form-text") }}
                            {{ changePasswordForm.new_password(class="form-control form-control mt-1") }}
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            {{ changePasswordForm.submit(class="btn btn-primary m-2") }}
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}